<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap-theme.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap-table.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{static_url('css/theme.css')}}" />
    <style type="text/css">

    </style>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script type="application/javascript">
        function tsToTime(timestamp){
            if(timestamp == 0) return "-"
            var now = new Date()
            var t = new Date(timestamp * 1000)
            var isToday = false
            if(now.getFullYear() == t.getFullYear() &&
                    now.getMonth() == t.getMonth() &&
                    now.getDate() == t.getDate()) {
                        isToday = true
            }
            var s = t.getHours() + ":" + t.getMinutes() + ":" + t.getSeconds()
            if(!isToday) {
                s = t.getFullYear() + "-" + (t.getMonth() + 1) + t.getDate() + " " + s
            }
            return s
        }
        function get() {
            $.post('/monitor',function(ret) {
                $('#timestamp').html(tsToTime(ret.timestamp))
                $('#on_off').html(ret.on_off)
                $('#on_times').html(ret.on_times)
                $('#pressure').html(ret.pressure.toFixed(2))
                $('#v1').html(ret.v1.toFixed(0))
                $('#v2').html(ret.v2.toFixed(0))
                $('#v3').html(ret.v3.toFixed(0))
                $('#c1').html(ret.c1.toFixed(2))
                $('#c2').html(ret.c2.toFixed(2))
                $('#c3').html(ret.c3.toFixed(2))
                $('#in_flow').html(ret.in_flow.toFixed(2))
                $('#ac_flow').html(ret.ac_flow.toFixed(0))
                $('#frequency').html(ret.frequency.toFixed(0))
                $('#power_con').html(ret.power_con.toFixed(2))
                $('#reactive_power').html(ret.reactive_power.toFixed(2))
                $('#power_factor').html(ret.power_factor.toFixed(2))
                $('#energy').html(ret.energy.toFixed(2))
                //debugger;
                if(ret.is_high_frequency) {
                    $('#console_panel').attr("class", "panel panel-danger")
                    $('#console_panel .progress').show()
                    $('#console_panel .value').html("High frequency ... " + ret.high_frequency_interval + "s")
                }
                else {
                    $("#console_panel").attr("class", "panel panel-success")
                    //$('#console_panel .progress').hide()
                    $('#console_panel .value').html("Normal frequency ... every 1m")
                }

            }, "json")
        }
        window.setInterval(get, 1000);
    </script>
</head>
<body>
    <div class="container-fluid full-screen" >
        <div class="row my-body" style="height: 100%">
            <div class="my-body-container">
                <!-- first row -->
                <div class="row">
                    <!-- timestamp -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-time"></span>Date
                            </div>
                            <div class="panel-body" id="timestamp">
                                -
                            </div>

                        </div>
                    </div>
                    <!-- on/off -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-danger">
                             <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-off"></span>On/Off
                            </div>
                            <div class="panel-body" id="on_off">
                                -
                            </div>

                        </div>
                    </div>
                    <!-- on times -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                On Times
                            </div>
                            <div class="panel-body" id="on_times">
                                -
                            </div>

                        </div>
                    </div>
                    <!-- pressure -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-stats"></span>Pressure
                            </div>
                            <div class="panel-body" id="pressure">
                                -
                            </div>

                        </div>
                    </div>
                </div>
                <!-- second row -->
                <div class="row">
                    <!-- v1 -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-info">
                             <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-flash"></span>Voltage Phase A
                            </div>
                            <div class="panel-body" id="v1">
                                -
                            </div>

                        </div>
                    </div>
                    <!-- v2 -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-flash"></span>Voltage Phase B
                            </div>
                            <div class="panel-body" id="v2">
                                -
                            </div>

                        </div>
                    </div>
                    <!-- v3 -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-flash"></span>Voltage Phase C
                            </div>
                            <div class="panel-body" id="v3">
                                -
                            </div>

                        </div>
                    </div>
                    <!-- accumulated flow -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-dashboard"></span>Accumulated Flow
                            </div>
                            <div class="panel-body" id="ac_flow">
                                -
                            </div>

                        </div>
                    </div>
                </div>
                <!-- third row -->
                <div class="row">
                    <!-- c1 -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-flash"></span>Current Phase A
                            </div>
                            <div class="panel-body" id="c1">
                                -
                            </div>

                        </div>
                    </div>
                    <!-- c2 -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-flash"></span>Current Phase B
                            </div>
                            <div class="panel-body" id="c2">
                                -
                            </div>
                        </div>
                    </div>
                    <!-- c3 -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-flash"></span>Current Phase C
                            </div>
                            <div class="panel-body" id="c3">
                                -
                            </div>
                        </div>
                    </div>
                    <!-- instantaneous flow -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                 <span class="my-icon glyphicon glyphicon-dashboard"></span>Instantaneous Flow
                            </div>
                            <div class="panel-body" id="in_flow">
                                -
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fourth row -->
                <div class="row">
                    <!-- frequency -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-flash"></span>Frequency
                            </div>
                            <div class="panel-body" id="frequency">
                                -
                            </div>

                        </div>
                    </div>
                    <!-- power consumption -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-flash"></span>Power Consumption
                            </div>
                            <div class="panel-body" id="power_con">
                                -
                            </div>
                        </div>
                    </div>
                    <!-- Reactive Power -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-flash"></span>Reactive Power
                            </div>
                            <div class="panel-body" id="reactive_power">
                                -
                            </div>
                        </div>
                    </div>
                    <!-- Power Factor -->
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                 <span class="my-icon glyphicon glyphicon-dashboard"></span>Power Factor
                            </div>
                            <div class="panel-body" id="power_factor">
                                -
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fifth row -->
                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-flash"></span>Energy
                            </div>
                            <div class="panel-body" id="energy">
                                -
                            </div>
                        </div>
                    </div>
                    <!-- console -->
                    <div class="col-md-9 col-xs-9">
                        <div class="panel panel-success" id="console_panel">
                            <div class="panel-heading">
                                <span class="my-icon glyphicon glyphicon-exclamation-sign"></span>Stream
                            </div>
                            <div class="panel-body">
                                <span class="value" style="float: left">-</span>
                                <div class="progress progress-striped active"
                                     style="float: left; height: 15px; margin-bottom: 0px; margin-left: 10px; width: 20%">
                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 100%;">
                                        <span class="sr-only">Processing...</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</body>
</html>